<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your Smash Template!</p>

        <form method="GET" action="/download" novalidate>
        <button id="download">Download</button>
        </form>
        </div>

    {{>footer}}
    </body>

</html>